<p>Members-only content</p>

<div *ngFor="let post of posts">
    <a [routerLink]="['/profile', post.username]">Author: {{ post.username }}<br></a>
    Body: {{ post.body }}<br>
</div>

<p>Post</p>

<form [formGroup]="postForm" (ngSubmit)='onSubmit()'>

    <label>
        post:<br>
        <input type="text" formControlName="post" required>
    </label><br>

    <div *ngIf="post.invalid && (post.dirty || post.touched)"
    class="alert alert-danger">

        <div *ngIf="post.errors.required">
            post is required.
        </div>

    </div>

    <button type="submit" [disabled]="!postForm.valid">Submit</button>

</form>