#border {
  border: dashed grey;
  padding: 5px;
  margin: 5px;
}
hr {
  border-top: 3px dashed grey;
  border-bottom: 0px;
  overflow: visible;
  text-align: center;
}
.userContainer>img {
  vertical-align: middle;
  display: inline-block;
  margin: 4px;
}