<div class="content-container">
  <div class="messages">
    <p *ngIf="messenger.joinUsername">Messages with {{messenger.joinUsername}}.</p>
    <p *ngIf="!messenger.joinUsername">No chat is opened yet.</p>
    <p *ngIf="otherTyping">{{messenger.joinUsername}} is typing.</p>
    <div class="message" *ngFor="let message of messenger.messages">
      From: {{ message.from }}<br>
      Body: {{ message.body }}<br>
    </div>
    <p *ngIf="!messenger.messages.isEmpty">There don't seem to be any messages here.</p>
    <button (click)="load()">Load older messages.</button>
  </div>
  <div class="forms">
    <p>Messenger</p>
    <p>Go to user</p>
    <form [formGroup]="navForm" (ngSubmit)="navigate()">
      <label>
        username:<br>
        <input type="text" formControlName="username" required>
      </label><br>
      <button type="submit" [disabled]="!navForm.valid">Navigate</button>
    </form>
    <p>Write message</p>
    <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
      <label>
        body:<br>
        <input type="text" formControlName="body">
      </label><br>
      <p>Select image</p>
      <img *ngIf="this.image" width="100px" height="100px" [src]="imageUrl"
      alt="message image"><br>
      <label>
          image:<br>
          <input type="file" accept=".png" (change)="onFileChange($event)" formControlName="image">
        </label>
      <button type="submit" [disabled]="!messageForm.valid">Submit</button>
    </form>
  </div>
</div>
