<p>Signup</p>
<form [formGroup]="signupForm" (ngSubmit)='onSubmit()'>
    <label>
        username:<br>
        <input type="text" formControlName="username" required>
    </label><br>
    <div *ngIf="username.invalid && (username.dirty || username.touched)"
    class="alert alert-danger">
        <div *ngIf="username.errors.required">
            username is required.
        </div>
        <div *ngIf="username.errors.minlength">
            username must be at least 6 characters long.
        </div>
    </div>
    <form formGroupName="password">
        <label>
            password:<br>
            <input type="password" formControlName="password" required>
        </label><br>
        <div *ngIf="password.controls['password'].invalid
        && (password.controls['password'].dirty
        || password.controls['password'].touched)"
        class="alert alert-danger">
            <div *ngIf="password.controls['password'].errors.required">
                password is required.
            </div>
            <div *ngIf="password.controls['password'].errors.minlength">
                password must be at least 6 characters long.
            </div>
        </div>
        <label>
            confirm password:<br>
            <input type="password" formControlName="confirmPassword" required>
        </label><br>
        <div *ngIf="password.controls['confirmPassword'].invalid
        && (password.controls['confirmPassword'].dirty
        || password.controls['confirmPassword'].touched)"
        class="alert alert-danger">
            <div *ngIf="password.controls['confirmPassword'].errors.required">
                password confirmation is required.
            </div>
            <div *ngIf="password.controls['confirmPassword'].errors.minlength">
                password confirmation must be at least 6 characters long.
            </div>
        </div>
    </form>
    <div *ngIf="password.invalid && (password.dirty || password.touched)"
    class="alert alert-danger">
        <div *ngIf="password.errors ? password.errors.confirmPassword : null">
            password fields must match.
        </div>
    </div>
    <re-captcha formControlName="recaptchaReactive" (resolved)="resolved($event)" siteKey="6Ld4qa0UAAAAAH0UmLH4Zt6eCESPaQGgmiLrhOTr"></re-captcha>
    <button type="submit" [disabled]="!signupForm.valid">Submit</button>
</form>
