<p>Write post</p>
<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <label>
    post:<br>
    <input type="text" formControlName="post" required>
  </label><br>
  <button type="submit" [disabled]="!postForm.valid">Submit</button>
</form>
<p>Posts</p>
<button (click)="resetPosts()">Reset posts.</button>
<div class='posts' *ngFor="let post of posts">
  <app-post [listingID]='listingID' [post]=post></app-post>
</div>
<button (click)="loadPosts()">Load further posts.</button>
<p *ngIf=endReached>There don't appear to be further posts.</p>