/* You can add global styles to this file, and also import other style files */

body {
    background-color: lightgreen;
    font-family: 'Courier New', Courier, monospace;
}

button:hover:enabled {
    background-color: darkslategrey;
    border-color: darkslategrey;
    color: lightgrey;
}