<p>Write comment:</p>
<form [formGroup]="commentForm" (ngSubmit)='onSubmit()'>
    <label>
        comment:<br>
        <input type="text" formControlName="comment" required>
    </label><br>
    <button type="submit" [disabled]="!commentForm.valid">Submit</button>
</form>
<p>Comments</p>
<div *ngFor="let comment of comments">
    <a [routerLink]="['/profile', comment.username]">Author: {{ comment.username }}<br></a>
    Body: {{ comment.body }}<br>
</div>
<button (click)="loadComments()">Load further comments.</button>
<p *ngIf=endReached>There don't appear to be further comments right now.</p>
