<p>Write comment:</p>
<form [formGroup]="commentForm" (ngSubmit)='onSubmit()'>
    <label>
        comment:<br>
        <input type="text" formControlName="comment" required>
    </label><br>
    <button type="submit" [disabled]="!commentForm.valid">Submit</button>
</form>
<p>Comments</p>
<div *ngFor="let comment of comments">
    <app-comment [listingID]='listingID' [comment]=comment></app-comment>
</div>
<button (click)="loadComments()">Load further comments.</button>
<button (click)="resetComments()">Reset comments.</button>
<p *ngIf=endReached>There don't appear to be further comments.</p>
