<p>Comments</p>

<div *ngFor="let comment of comments">
    <a [routerLink]="['/profile', post.username]">Author: {{ comment.username }}<br></a>
    Body: {{ comment.body }}<br>
</div>

<p>Post</p>

<form [formGroup]="commentForm" (ngSubmit)='onSubmit()'>

    <label>
        post:<br>
        <input type="text" formControlName="comment" required>
    </label><br>

    <div *ngIf="comment.invalid && (comment.dirty || comment.touched)"
    class="alert alert-danger">

        <div *ngIf="comment.errors.required">
            post is required.
        </div>

    </div>

    <button type="submit" [disabled]="!commentForm.valid">Submit</button>

</form>