.content-container {
  width: 90%;
  margin: 10px 5px;
  display: flex;
  flex-direction: row-reverse;
}
.profile-settings {
  width: 35%;
  position: sticky;
  top: 50px;
  align-self: flex-start;
}
.posts {
  width: 65%;
  margin-right: 10px;
}
@media (max-width: 600px) {
  .content-container {
    width: auto;
    display: block;
  }
  .profile-settings {
    width: auto;
    position: static;
    top: auto;
  }
  .posts{
    width: auto;
  }
}
