.content-container {
  width: 90%;
  margin: 10px 5px;
  display: flex;
  flex-direction: row-reverse;
}
.profile-settings {
  width: 35%;
}
.posts {
  width: 65%;
}
@media (max-width: 600px) {
  .content-container {
    width: auto;
    display: block;
  }
  .profile-settings {
    float: none;
    width: auto;
  }
  .posts{
    float: none;
    width: auto;
  }
}
